#  User edit
# ==============================================================================

## User name and email when git commit.
GIT_NAME='' 
GIT_MAIL=''

## GitHub HTTPS URL to clone
GIT_URL=''

## Absolute directory path to the SSH keys. (Needed to auto push origin)
PATH_DIR_SSH_HOST='/Volumes/Macintosh_HDD/Users/admin/.ssh'

#  Optional (Change these if needed)
# ==============================================================================

NAME_FILE_RSA_PRIVATE='id_rsa'
NAME_FILE_RSA_PUBLIC='id_rsa.pub'
PATH_FILE_RSA_PRIVATE="${PATH_DIR_SSH_HOST}/${NAME_FILE_RSA_PRIVATE}"
PATH_FILE_RSA_PUBLIC="${PATH_DIR_SSH_HOST}/${NAME_FILE_RSA_PUBLIC}"

#  Optional (Change these if needed)
# ==============================================================================

NAME_IMAGE_GIT='img_git-volume-sync'
NAME_CONTAINER_GIT='cont_git-volume-sync'
NAME_VOLUME_SSH='data_ssh'
NAME_VOLUME_DATA='data_git'
